/**
 * Address
 */
.address {
    background-color: $color-white;
    color: $primary-color;
    font: 300 10px $primary-font;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    // padding-left: 20%;
    // padding-right: 20%; 
}

.address > strong {
    font-weight: bold;
}


@media screen and (max-width: 580px) {
    .address {
        margin-top: 20px;
        padding: 10px;
        text-align: justify;
    }
}

