.wrapper-banner-square-middle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.banner-square-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
