
  .wrapper-budget {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    position: absolute;
    background-color: #fff;
    padding: 30px;
    box-shadow: #e3e9f3 0px 0px 3px 0;
    border-radius: 5px;
    /* margin-top: 5px; */
    right: -60px;

    opacity: 0;
    z-index: -55;
  }

  .budget-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wrapper-budget{
    line-height: 20px;
  }

  .budget-list-item {
    text-align: center;
  }

  .budget-list-item > a {
    text-decoration: none;
  }

  .budget-button{
    border: 1px solid;
    background-color:#0047d9;
    color: #fff;
    line-height: 35px;
    text-decoration: underline;
    display: block;
  }

  .budget-button > i{
    margin-left: 5px;
  }


  .budget-button.-email{
    background-color:#0047d9;
    border-color:#0047d9;
    margin-bottom: 10px;
  }

  .budget-button:hover{
    background-color: unset;
    border-color: #0047d9;
  }

  .budget-button.-email:hover {
    color:  #0047d9
  }

  .budget-button.-whatsapp{
    background-color:#25D366;
    border-color:#25D366;
  }

  .budget-button.-whatsapp:hover{
    background-color: unset;
    border-color: #25D366;
  }

  .budget-button.-whatsapp:hover {
    color:  #25D366
  }

  .budget-title {
    font-weight: bold;
    color:#0047d9;
    margin-bottom: 10px;
    text-align: center;
  }

  .budget-text {
    text-align: center;
    line-height: 15px;
  }