.wrapper-telesales {
  display: none;
  justify-content: space-between;
  width: 950px;
  position: absolute;
  background-color: #fff;
  padding: 40px;
  box-shadow: #e3e9f3 0px 0px 3px 0;
  border-radius: 5px;
  // margin-top: 5px;
  left: -100px;

  opacity: 0;
  z-index: -55;
}

.wrapper-phone {
  display: flex;
  // margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.telesales-title {
  margin-top: 10px;
  font-weight: bold;
  color: $color-blue;
  text-align: center;
}

.telesales-state-title {
  font-weight: bold;
  color: $color-blue;
  margin-top: 10px;
}

.wrapper-phone-city {
  margin-right: 40px;
}

.wrapper-phone-city-item {
  width: 230px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper-phone-city-item > a {
  font-weight: bold;
  text-decoration: none;
}

.wrapper-phone-city-item > a:hover {
  text-decoration: underline;
}

.wrapper-phone-city-item > strong {
  margin-right: 5px;

}

.wrapper-telesales-whatsapp {
  width: 50%;
  display: flex;
  font-size: 24px;
  font: bold 1.1em "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  border: 1px solid #8c8c8c;
  padding: 10px;
  justify-content: center;
}


.wrapper-telesales-whatsapp{
  background-color: #25D366;
  border: 0px;
  
}

.wrapper-telesales-whatsapp > a {
  color: $color-white;
  text-decoration: none;
}

.wrapper-telesales-whatsapp > a:hover {
  text-decoration: underline;
}

.wrapper-telesales-whatsapp > a > i{
  color: $color-white;
}

.televendas-map-image{
  margin-top: 20px;
  width: 300px;
  height: 300px;
}