.board {
  margin: 10px;
}

.board h1 {
  font-size: 1.375rem;
  text-align: center;
  text-transform: uppercase;
}
.page-depoimentos .board h1 {
  margin-bottom: 30px;
}
#vitrine-catalogo h3 {
  font-size: 1rem;
}
#vitrine-catalogo .blocoAlerta {
  text-align: center;
}
#vitrine-catalogo {
  padding: 30px 0 0;
}
.page-search #Vitrine fieldset {
  border: 0;
  padding: 0;
  margin: 14px 0;
  width: 100%;
  font-size: 14px;
  color: #474e5f;
}

.page-search #Vitrine fieldset p {
  margin: 30px 0;
}
.page-search #Vitrine fieldset #categoria {
  display: block;
  margin: 5px 0;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #eeeef0;
  background-color: #fff;
  padding: 5px 12px;
  font-size: 15px;
  color: #474e5f;
  appearance: none;
  font-weight: normal;
  outline: 0;
}
.page-search #Vitrine fieldset input[name='preco_fim'],
.page-search #Vitrine fieldset input[name='preco_ini'] {
  margin: 5px 0;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #eeeef0;
  background-color: #fff;
  padding: 5px 12px;
  font-size: 15px;
  color: #8c9099;
  outline: 0;
}
.page-search #Vitrine fieldset input[name='palavra_busca'] {
  display: block;
  margin: 5px 0;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #eeeef0;
  background-color: #fff;
  padding: 5px 12px;
  font-size: 15px;
  color: #8c9099;
  outline: 0;
}
.page-search #Vitrine form .botao-commerce {
  width: 100%;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0px 0 10px 0;
  border-radius: 4px;
  background-color: $color-blue;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  height: 52px;
  appearance: none;
  border: 0px;
  outline: 0;

  &:hover{
    background-color: $third-color;
  }
}

.page-search #Vitrine form input[type='checkbox'] {
  margin: 15px 5px 7px 0;
  height: 14px;
  width: 20px;
}
.page-search #Vitrine #preco_ini {
  margin-right: 15px;
}
.page-search #Vitrine form {
  max-width: 600px;
  margin: 0 auto;
}
.Seguro {
  display: none;
}
.page-login .breadcrumb {
  margin-top: -100px;
  margin-left: -5px;
  font-size: 14px;
  font-weight: 400;
  color: #99a2b4;
}
.page-login .titulo-login {
  display: none;
}
.page-login .carrinho-heading {
  display: none;
}
.page-login .page-content {
  text-align: center;
  // margin-top: 130px;
}
.page-login .page-content .container2 .board {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.caixa-login {
  border-right: 1px solid #e7e7e7;
  text-align: left;
  margin-right: 54px ;
  padding-right: 50px;
}
.caixa-cadastro,
.caixa-login {
  max-width: 550px;
  width: 100%;
  height: 224px;
}
.caixa-cadastro h3,
.caixa-login h3 {
  text-align: left;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #474e5f;
}

.caixa-login button {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 190px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $color-blue;
}
.caixa-login button:hover {
  background-color: $third-color;
}
.caixa-login button:before {
  content: 'Entrar';
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.caixa-cadastro p,
.caixa-login label {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: $primary-color;
}
.caixa-cadastro fieldset input {
  width: 100%;
  display: block;
  border: 0;
  margin-top: 4px;
  height: 52px;
  background-color: #f5f7f9;
  padding: 15px;
}
.caixa-cadastro fieldset input::-webkit-input-placeholder {
  font-size: 0;
}
.caixa-cadastro fieldset input::-moz-placeholder {
  font-size: 0;
}
.caixa-cadastro fieldset input:-ms-input-placeholder {
  font-size: 0;
}
.caixa-cadastro fieldset input::-ms-input-placeholder {
  font-size: 0;
}
.caixa-cadastro fieldset input::placeholder {
  font-size: 0;
}
.caixa-cadastro fieldset p.campo-email {
  width: 100%;
  margin-top: 23px;
  font-size: 15px;
  font-weight: 400;
  color: #8c9099;
}
.caixa-cadastro fieldset .bt-efetua-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  width: 172px;
  height: 52px;
  border-radius: 4px;
  background-color: $color-blue;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}
.caixa-cadastro fieldset .bt-efetua-login:hover {
  background-color: $third-color;
}
.caixa-cadastro fieldset .bt-efetua-login:before {
  content: 'Cadastre-se';
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}


.page-register .board h1 {
  // text-align: left;
  margin: 0 0 20px;
}
.page-register #CadastroAbas {
  margin: 0 0 20px;
}
.page-register #CadastroAbas li {
  display: inline-block;
}
.page-register #CadastroAbas li:first-child {
  margin-right: -4px;
}
.page-register #CadastroAbas li a {
  width: 180px;
  height: 58px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #8e8e8e;
  border-radius: 4px;
  text-transform: uppercase;
}

.page-register #CadastroAbas li.aberta a {
  position: relative;
  background-color: $color-blue;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.page-register #CadastroAbas li.aberta a:after {
  content: '';
  position: absolute;
  background-color: $color-blue;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
  right: 0;
  bottom: -5px;
  margin: auto;
}
.page-register h2.txt-dados-entrega {
  font-size: 24px;
  font-weight: 700;
  color: #474e5f;
  margin-top: 50px;
  margin-bottom: -22px;
}
.page-register h2.txt-dados-loja,
.page-register h2.txt-dados-pessoais {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #474e5f;
}
.page-register h2 {
  // font-size: 1rem;
  // text-align: left;
}
.page-register .breadcrumb {
  margin: -30px 0 40px -5px;
  font-size: 14px;
  font-weight: 400;
  color: #99a2b4;
}
.page-register .adicionar_mais img {
  display: none;
}
.page-register .adicionar_mais h3 {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.page-register .adicionar_mais h3:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 3px;
  left: 0;
  background: #000;
  top: 0;
  bottom: 0;
  margin: auto;
}
.page-register .adicionar_mais h3:after {
  content: '';
  position: absolute;
  height: 15px;
  width: 3px;
  left: 6px;
  background: #000;
  top: 0;
  bottom: 0;
  margin: auto;
}
.page-register .page-content {
  margin-top: 30px;
}
.page-register .page-content fieldset {
  width: 100%;
  max-width: 1100px;
  font-size: 14px;
  font-weight: 400;
  color: #99a2b4;
  padding-top: 15px;
}
.page-register .topBorder+.board {
  text-align: center;
  margin: 20px 0px 20px;
  padding-left: 10px;
}
#fisica,
#juridica {
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #99a2b4;
}
#fisica + strong {
  display: none;
}
#telefone_cliente,
#telefone_cliente_2 {
  margin-right: 10px;
}
.page-register .page-content fieldset label:first-child {
  margin-top: 24px;
}
.page-register .page-content fieldset label {
  display: block;
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #474e5f;
}
.page-register .page-content fieldset label[for='endereco_0'] {
  display: inline-block;
}
.page-register .page-content fieldset input[name='endereco_ativo'] + label {
  display: inline-block;
}
.page-register .page-content fieldset b,
.page-register .page-content fieldset strong {
  font-weight: 600;
}
.page-register fieldset input[type='email'],
.page-register fieldset input[type='password'],
.page-register fieldset input[type='tel'],
.page-register fieldset input[type='text'],
.page-register fieldset select {
  margin: 10px 0 0;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  border: solid 1px #e4e4e4;
  border-left: 4px solid $color-blue;
  position: relative;
  padding: 10px 10px 10px 4px;
}
.page-register fieldset input[type='email']:before,
.page-register fieldset input[type='password']:before,
.page-register fieldset input[type='tel']:before,
.page-register fieldset input[type='text']:before,
.page-register fieldset select:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #99a2b4;
  top: 0;
  bottom: 0;
  left: 0;
}
.page-register fieldset input[type='email']:focus,
.page-register fieldset input[type='password']:focus,
.page-register fieldset input[type='tel']:focus,
.page-register fieldset input[type='text']:focus {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.page-register fieldset input[size='40'],
.page-register fieldset input[size='50'] {
  width: 100%;
}
.page-register fieldset input[size='50'].text.obriga.logradouro {
  width: 90%;
}
#multi-endereco-controla fieldset > p > label.oculta:nth-of-type(4),
#multi-endereco-controla fieldset > p > label.oculta:nth-of-type(5) {
  float: left;
}
#multi-endereco-controla fieldset > p > label.oculta:nth-of-type(5) input {
  display: block;
}
#multi-endereco-controla fieldset > p > label.oculta:nth-of-type(6) {
  clear: both;
  margin-top: 90px;
}
#pf_data_nascimento,
#pj_data_nascimento {
  margin-right: 20px;
  border-left: solid 1px #e4e4e4;
  max-width: 260px;
  width: 100%;
}
#pf_nome_cliente {
  max-width: 542px;
  width: 100%;
}
#email_cliente,
#email_cliente2,
#pf_cpf_cliente,
#pj_cpf_cliente,
#senha_cliente,
#senha_cliente2,
#telefone_cliente,
#telefone_cliente_2 {
  max-width: 260px;
  width: 100%;
}
@media (max-width: 375px) {
  #email_cliente,
  #email_cliente2,
  #pf_cpf_cliente,
  #pj_cpf_cliente,
  #senha_cliente,
  #senha_cliente2,
  #telefone_cliente,
  #telefone_cliente_2 {
    max-width: 100%;
  }
  #pf_data_nascimento,
  #pj_data_nascimento {
    max-width: 100%;
    margin-right: 0;
  }
  #cep_1 {
    width: 60%;
  }
  #cep_2 {
    width: 34%;
  }
}
// label[for='endereco_cobranca_diferente'] {
//   font-size: 18px;
//   font-weight: 700;
//   color: #474e5f;
//   margin-left: 12px;
// }
// @media (max-width: 375px) {
//   label[for='endereco_cobranca_diferente'] {
//     font-size: 15px;
//   }
// }
.botoes_personalizados_enviar_img {
  width: 220px;
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0;
  border-radius: 4px;
  background-color: $color-blue;
  float: left;
  margin-bottom: 20px;
}
.botoes_personalizados_enviar_img:hover {
  background-color: $third-color;
}
.botoes_personalizados_enviar:before {
  content: 'ENVIAR CADASTRO';
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
#email {
  vertical-align: -2px;
}
#cobranca_numero_endereco,
#numero_endereco {
  display: block;
}
#endereco_cliente {
  max-width: 542px;
  width: 100%;
}
#complemento {
  margin-right: 10px;
}
#bairro_cliente,
#cidade_cliente,
#complemento,
#pais {
  max-width: 542px;
  width: 100%;
}
#ou_estado_envio_nacional > label:first-child {
  margin-top: 4px;
  margin-bottom: 20px;
}
#estado_cliente {
  max-width: 142px;
  width: 100%;
}
#frm2 > div:nth-child(2) > fieldset:nth-child(17) > p > label:nth-child(4),
#libera_endereco_cobranca > fieldset > p > label:nth-child(5) {
  float: left;
  max-width: 542px;
  width: 100%;
  margin-right: 28px;
}
#frm2 > div:nth-child(2) > fieldset:nth-child(17) > p > label:nth-child(5),
#libera_endereco_cobranca > fieldset > p > label:nth-child(6) {
  float: left;
}
#frm2 > div:nth-child(2) > fieldset:nth-child(17) > p > label:nth-child(9),
#libera_endereco_cobranca > fieldset > p > label:nth-child(10) {
  clear: both;
  margin-top: 80px;
}

fieldset {
  border: 0;
}
.blocoAlerta {
  padding: 5px 0;
  font-weight: 700;
  font-size: 0.85rem;
  color: #da0808;
  margin: 5px 0;
  display: block;
}
.mensagensErro {
  color: #da0808;
  font-size: 0.75rem;
  // padding: 4px 0 4px;
  display: inline-block;
  background-color: $color-white;
  margin-left: unset;
  border: 0px;

}

.obriga{
  // margin-left: -5px;
}

@media (max-width: 600px) {
  .board{
    flex-direction: column;

    .caixa-login{
      border-right: 0;
      margin-right: unset;
      padding-right: unset;
    }

    .caixa-login {
      height: 183px
    }
  }

  .page-search #Vitrine fieldset{
    padding-left: 20px;
    padding-right: 20px;
  }
}




@media (max-width: 480px) {
  .page-register .page-content fieldset {
    border: 0;
    padding: 10px 0;
  }
}
