/**
 * MegaMenu
 */

.navbar {
  
  background-color: $color-black;

  .wrapper-navbar{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding-left: 45px;
    padding-right: 45px;
  }

  &:after{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    position: fixed;
    z-index: 1;
  }

  &:hover.navbar:after{
    visibility: visible;
    opacity: 1;
  }

}

.fa-bars{
  width: 25px;
  height: 25px;
  padding-top: 7px;
}

.navbar-icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.navbar h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -3px;
  color: $second-color;
  // margin-left: 5px;
}


.navbar a {
  // float: left;
  font-size: 14px;
  color: $color-white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.navbar a > h3 {
  text-transform: initial; 
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.dropbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: $color-white;
  padding: 5px;
  background-color: inherit;
  margin: 0;
  border-top: 2px solid transparent;
}

.dropdown:hover .dropbtn {
  border-color: $color-red;
  background-color: $color-white;
  color: $color-black;

  .navbar-icon{
    // filter: invert(70%) sepia(50%) saturate(2878%) hue-rotate(200deg) brightness(104%) contrast(97%);
    filter: invert(70%) sepia(50%) saturate(2878%) hue-rotate(200deg) brightness(0%) contrast(97%);
  }

}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: $color-white;
  // width: 800px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.5);
  border-bottom: 3px solid $color-red;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-content-left{
  left: 0px;
}

.dropdown-content-center{
  left: -700px;
}

.dropdown-content-right{
  right: 0px;
}

.dropdown-content-departamentos{
  width: 300px;
}

.dropdown-content-cftv{
  width: 950px;
}

.dropdown-content-cameras{
  width: 600px;
}

.dropdown-content-gravador{
  width: 800px;
}

.dropdown-content-acessorios{
  width: 700px;
}

.dropdown-content-motor{
  width: 600px;
}

.dropdown-content-alarmes{
  width: 1150px;
}

.dropdown-content-kit-alarmes{
  width: 400px;
}

.dropdown-content-interfones{
  width: 250px;
}


.dropdown-content .header {
  padding: 10px;
  color: $color-white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper-column{
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  // width: 33%;
  padding: 10px;
}

.-one-column {
  width: 100%;
}

.column a {
  font-size: 13px;
  float: none;
  color: $color-black;
  // padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid transparent;
}

.column a:hover {
  border-bottom: 1px solid $color-gray-blue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    height: auto;
  }

  // MEGAMENU REMOVE ICON
  .navbar-icon{
    display: none;
  }

  .dropdown .dropbtn{
    opacity: 0;
  }

  .dropdown:hover .dropdown-content{
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {

  // OCULTA MEGAMENU
  .dropdown{
    display: none;
  }

}


