 /* SIDEBAR POSITION */

 .sidebar-backdrop{
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.15s ease-in-out;
  opacity: 1;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 0;
}



 .sidebar {
  background-color: $color-white;
  position: fixed;
  top: 0;
  right: 0;
  width: 425px;
  z-index: 6;
  // box-shadow: rgb(227, 233, 243) 0px 2px 6px 0px;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-header{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 20px;
  background-color: $color-blue;
  color: $color-white;
}

.sidebar-body {
  padding: 10px;
  overflow: auto; 
  height: 75%;
  background-color: $color-white;
}

.sidebar-body::-webkit-scrollbar-track {
    background-color: $color-gray-f4;
}

.sidebar-body::-webkit-scrollbar {
    width: 6px;
    background: $color-gray-f4;
}

.sidebar-body::-webkit-scrollbar-thumb {
    background: $color-gray-d7;
}

.sidebar-footer{
  width: 100%;
  height: 20%;
  padding: 20px;
  border-top: 2px solid $color-gray-ab;
  background-color: $color-white;
}

/* SIDEBAR HIDDEN STATE */
.sidebar[aria-hidden="true"] {
  transition: 200ms;
  transform: translateX(100%);
}
/* SIDEBAR VISIBLE STATE */
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
  transition: 200ms;
  transform: translateX(0);
}

.sidebar-header-cart{
  width: 25px;
  height: 25px;
}

.sidebar-header-share{
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px;
  color: $color-white;
}

.sidebar-header-share:focus{
  outline: 0;
}

.sidebar-header-close{
  background-color: transparent;
  border: 0px;
  color: $color-white;
  font-size: 16px;
}

.sidebar-header-close:focus{
  outline: 0;
}

.sidebar-product-wrapper{
  width: 100%;
  display: flex;
}

.sidebar-product-wrapper {
  border-bottom: 2px solid $color-gray-ab;
  margin-bottom: 5px;
}

.sibebar-product-image{
  width: 70px;
  height: 70px;
  margin: 10px;
}

.sidebar-product-info{
  background-color: transparent;
  padding: 10px;
  font-size: 12px;
}

.sibebar-product-title{
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 600;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sibebar-product-wrapper-quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:5px;

  span {
    margin-right: auto;
    margin-left: 5px;
  }

  button{
    background-color: transparent;
    border: 0px;
  }
}

.fa-trash{
  color: $color-gray-8c;
}

.sibebar-product-wrapper-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:5px;
}

.sidebar-footer-label{
  
  display: flex;

  .sidebar-footer-subtotal{
    margin-left: auto;
  }
  
}

.sidebar-footer-wrapper-button{
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-footer-button{
  font-size: 14px;
  font-weight: 600;
  border: 0;
  background-color: $color-gray-f4;
  color: $color-gray-8c;
  width: 50%;
  height: 60px;
  border-radius: 5px;
}

.-checkout{
  background-color: $third-color;
  color: $color-white;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.-checkout:hover{
  background-color: $color-green-dark;
  color: $color-white;
}


@media screen and (max-width: 600px) {

  .sidebar {
    width: 100%;
  }

  .sidebar-content{
    
    .sibebar-product-image{
      margin: 5px 0px;
    }

    .sidebar-product-wrapper{
      .sidebar-product-info{
        margin: 0px;
        padding: 5px;
      }
    }

    .sidebar-body{
      height: 60%;
    }
    
  }

  .scroll{
    overflow: hidden;
  }
  
  .sidebar-footer{
    .sidebar-footer-wrapper-button{

      .sidebar-footer-button{
        height: 40px;
      }

    }
  }
  
}


@media screen and (max-width: 300px) {

  .sidebar-header{
    .sidebar-header-share{
      font-size: 12px;
    }
  }


  .sidebar-content{
    .sidebar-body{
      padding: 0px;
    }
    
  }

}