<div class="wrapper-cart-float-mobile" id="cart-float-mobile">
  <div class="wrapper-cart-float-mobile-content">
    
    <div class="cart-float-mobile-wrapper-price-quantity">
      <div class="product-price" style="margin-bottom: 0px; margin-top: 0px;">
        {% if product.available %}
          {% if product.stock > 0 %}
          
            {% if product.upon_request %}
              <p>Produto Sob Consulta</p>
            {% else %}
      
              {% set price = product.price_offer > 0 ? product.price_offer : product.price %}
                  
                      
                  {% if product.price > 10 %}
      
                      {% for payment in product.payment_option_details %}
                      
                        {% if payment.plots == 1 %}
                          <span class="wrapper-price-cash"> <b class="price-cash">{{ settings.currency }} {{ payment.value|currency }}</b> À Vista</span>
                        {% endif %}
      

      
                      {% endfor %}
                  
                  {% else %}
                  
                    <span class="wrapper-price-cash"> <b class="price-cash">{{ settings.currency }}  {{product.price |currency}} </b></span>
                  
                  {% endif %} 
      
              {% endif %}
      
          {% else %}
            <p>Esgotado!</p>
          {% endif %}
      
          {% else %}
            <p>Produto Indisponível</p>
          {% endif %}
      </div>
      
      <div class="wrapper-quantity">
        <div class="number-input" style="width: 140px">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
            <input class="quantity" id="quant" min="1" name="quantity" value="1" type="number">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                class="plus">+</button>
        </div>
      </div>

    </div>
    
    <button onclick="buttonBuy()" class="product-buy-cart-button -page-product" style="margin-top: 0; width: 50%; height: 60px;" data-app="product.buy-button"  data-product="{{ product.id }}">
      Comprar
    </button>
  
  </div>
 
</div>