{% if product.id == '9714' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11864' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '9722' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11858' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11920' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '9710' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11922' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11860' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11868' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '9730' %}
{% element 'snippets/instalacao' %}
{% endif %}


{% if product.id == '11866' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '9726' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11862' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '9718' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11924' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11926' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '11928' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12104' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12106' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12204' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12210' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12206' %}
{% element 'snippets/instalacao' %}
{% endif %}

{% if product.id == '12202' %}
{% element 'snippets/instalacao' %}
{% endif %}

