{% if product.id == '9714' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11864' %}
<div class="wrapper-banner-product-top">
  {{ banner.extra35 }}     
</div>
{% endif %}

{% if product.id == '9722' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11858' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11920' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '9710' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11922' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11860' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11868' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '9730' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11866' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '9726' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11862' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '9718' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11924' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11926' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '11928' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12104' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12106' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12204' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12210' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12206' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

{% if product.id == '12202' %}
  <div class="wrapper-banner-product-top">
    {{ banner.extra35 }}     
  </div>
{% endif %}

